#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.headerDiv {
  border: none;
  background-color: #242424;
  width: 100%;
  padding: 0;
}

.formWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s ease-out;
}

.formWrapper.open {
  grid-template-rows: 1fr;
}

.formContent {
  overflow: hidden;
}

.cardDiv {
  border-radius: 1em;
  padding: 0 1em;
  padding-top: 1em;
  margin-bottom: 1em;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2em;
}

input,
textarea {
  border: 0.5px solid #646cff6b;
  border-radius: 1em;
  padding-left: 0.5em;
}

input:focus,
textarea:focus {
  border: 1.5px solid #7a81ff;
  outline: none;
}

.formDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75em;
}

.inputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  grid-column: 1/3;
}

.inputDiv.fromDiv {
  grid-column: 1/2;
}

.inputDiv.toDiv {
  grid-column: 2/3;
}

hr {
  width: 100%;
  color: #646cff6b;
}

.deleteBtn {
  border-radius: 1em;
  padding: 0.5em;
  background-color: #242424;
  position: relative;
  left: 40%;
}

.deleteBtn:hover {
  border-color: red;
}

.addBtn {
  border-radius: 1em;
  padding: 0.25em 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.submitBtn {
  gap: 0.5em;
  display: flex;
  margin: auto;
  margin-top: 2em;
  border-radius: 0.5em;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  gap: 1em;
}

.experienceContainer,
.educationContainer,
.skillsContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  gap: 0.25em;
}

.positionContainer {
  display: flex;
  justify-content: space-around;
}

.positionContainer p,
.positionContainer h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

.skillsContainer .positionContainer {
  flex-direction: column;
}

.positionContainer p {
  align-self: flex-end;
  font-size: 1.2rem;
}

.positionContainer h2 {
  align-self: flex-start;
  padding-left: 1em;
}

h1 {
  font-size: 2.5rem;
}

.generalContainer h1 {
  padding-bottom: 0.25em;
  font-size: 3rem;
}

@media (max-width: 574px) {
  .inputDiv.fromDiv {
    grid-column: 1/3;
  }
  .inputDiv.toDiv {
    grid-column: 1/3;
  }
}
