#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headerDiv {
  border: none;
  background-color: #242424;
  width: 100%;
  padding: 0;
}

.formWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .25s ease-out;
}

.formWrapper.open {
  grid-template-rows: 1fr;
}

.formContent{
  overflow: hidden;
}

.cardDiv {
  border: 1px solid #646cff;
  border-radius: 1em;
  padding: 0 1em;
  margin-bottom: 1em;
}