#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.headerDiv {
  border: none;
  background-color: #242424;
  width: 100%;
  padding: 0;
}

.formWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .25s ease-out;
}

.formWrapper.open {
  grid-template-rows: 1fr;
}

.formContent{
  overflow: hidden;
}

.cardDiv {
  border-radius: 1em;
  padding: 0 1em;
  margin-bottom: 1em;
}

.infoContainer {
  display:  flex;
  align-items: center;
  gap: 1em;
}

input,
textarea {
  border: .5px solid #646cff6b;
  border-radius: 1em;
  padding-left: .5em;
}

input:focus,
textarea:focus {
  border: 1.5px solid #7a81ff;
  outline: none;
}

.formDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .75em;
}

.inputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25em;
  grid-column: 1/3;
}


.inputDiv.fromDiv {
  grid-column: 1/2;
}

.inputDiv.toDiv {
  grid-column: 2/3;
}

hr {
  color: #646cff6b;
}

.deleteBtn {
  border-radius: 1em;
  padding: .5em;
  background-color: #242424;
  position: relative;
  left: 40%;
}

.deleteBtn:hover {
  border-color: red;
}